body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color:  rgb(235, 47, 109);
  padding: 5px 5px;
}

.header a {
  float: right;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a:hover {
  background-color: pink;
  color: black;
}

.header-right {
  float: right;
}

.eu {
background-color: bisque;
color: rgb(235, 47, 109);
text-align: center;
padding: 10px;
}

img {
  margin-top: 10px;
  margin: center;
  }
  
#sobremim {
  background-color:rgb(235, 47, 109);
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 15px;
}

#hobbies {
  background-color: bisque;
  padding: 15px;
}

#interesses {
  background-color:rgb(235, 47, 109);
  color: white;
  padding: 15px;
}

#contato {
  background-color: bisque;
  color: rgb(235, 47, 109);
  text-align: center;
  margin: 20px;
}

.footer {
  display: block;
  margin: -10px;
  height: 40px;
  background-color: rgb(235, 47, 109);
  color: white;
  text-align: center;
  }
  